.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  border-radius: 37%;
  margin-right: 15px;
}

.friend--lg .friend__avatar {
  width: 60px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend__name {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
}

.friend__bottom-text {
  opacity: 0.6;
  padding: 2px;
  font-size: 14px;
}

.friend__column .chat__timestamp {
  font-size: 12px;
  opacity: 0.6;
}

.friend__column .friend__now-listening {
  font-size: 14px;

  padding: 5px 9px;
  border: 2px solid #47db72;
  border-radius: 20px;
}

.friend__now-listening span,
.friend__now-listening i {
  opacity: 0.8;
}

.friend__now-listening i {
  font-size: 12px;
}

.friends__friend.friend {
  margin-bottom: 20px;
}
